@import '_variables';

*{
    background-color: $backgroundcolor;
    color:$textcolor;
}
#Title{
    padding: 10px;
}
#searchbar{
    width: 100%;
    background-color: white;
    color: violet;
}
#submit{
    width: 100%;
    color: white;
    background-color: rgb(22, 101, 192);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 8pt;
    text-align: center;
    
    
    
}
#news-container{
    font-weight: 12px;

}
img{
    width:100px;
}
