@import '_variables';

*{
    background-color: $backgroundcolor;
    color:$textcolor;
}

#Title{
    padding: 10px;
    align-content: center;
    text-align: center;
}
#searchbar{
    width: 75%;
    background-color: white;
    color: violet;
    font-style: italic;
}
#submit{
    width: 75%;
    color: white;
    background-color: rgb(22, 101, 192);

  
    
}
#desc{
    font-size: 8pt;
    text-align: center;
    
    
    
}

#news-container{
    display:flex;
    flex-direction: row;
    margin: auto;
    align-content: center;
    border: 15px, ivory;
    padding: 30px;
    
}

#pic{
    width: 350px;
    height: 350px;
    margin: auto;
    align-content: center;
    padding-inline-end: 30px;
  
    
}
.nwt{
    color: $newstemplateBG;
    text-align: center;
    align-content: center;
    padding: 10px;
    padding-right: 30px;


}
